{% set back = {
    href: path('homepage'),
    title: 'Accueil'|trans
} %}

{% extends 'base.html.twig' %}

{% block body %}
    {% include 'components/atoms/heading/heading.html.twig' with {
        props: {
            title: 'Articles',
            level: 1,
            align: 'center',
        }
    } %}

    <div class="row">
        {% for article in articles %}
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                {% include 'components/molecules/card/card.html.twig' with {
                    props: article,
                } %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
