{% set back = {
    href: path('article_index'),
    title: 'Tous les articles'|trans
} %}

{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="article">
        {% include 'components/atoms/heading/heading.html.twig' with {
            props: {
                title: article.title,
                level: 1,
                align: 'center',
            }
        } %}

        <div class="article_image mt-4 mb-4">
{#            {% include 'components/atoms/image/image.html.twig' with {#}
{#                props: {#}
{#                    src: article.image,#}
{#                    alt: '',#}
{#                }#}
{#            } %}#}
        </div>

        <div class="article_except mb-5">{{ article.excerpt|raw }}</div>
        <div class="article_body mb-5">
            {% include 'components/organisms/wysiwyg/wysiwyg.html.twig' with {
                props: {
                    body: article.body,
                }
            } %}
        </div>

        <div class="article_related mt-5">
            {% include 'components/atoms/heading/heading.html.twig' with {
                props: {
                    title: 'Related Articles'|trans,
                    level: 2,
                    align: 'center',
                }
            } %}

            {# Carousel here #}
        </div>
    </div>
{% endblock %}
