{% extends 'base.html.twig' %}

{% block body %}
    {% include 'components/atoms/heading/heading.html.twig' with {
        props: {
            title: 'Latest Articles',
            level: 1,
            align: 'center',
        }
    } %}

    {% include 'components/organisms/carousel/carousel.html.twig' with {
        props: {
            items: items,
        },
    } %}

    <div class="mt-5 text-center">
        {% include 'components/atoms/button/button.html.twig' with {
            props: {
                label: 'See all articles'|trans,
                link: path('article_index'),
                color: 'secondary',
            }
        } %}
    </div>
{% endblock %}
