@import './variables';
@import './mixins';

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@font-face {
  font-family: $font-helvetica;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Helvetica Neue'), local('HelveticaNeue-Medium'), url(../../fonts/HelveticaNeue-Medium.woff) format('woff');
}
