@import './variables';
@import './mixins';

.main {
  padding-top: $header-height--mobile + $spacer;
  padding-bottom: $spacer;

  @include desktop {
    padding-top: $header-height + $spacer;
    padding-bottom: $spacer;
  }
}

.container {
  display: block;
  position: relative;
  max-width: $wrapper-with;
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacer;
  padding-right: $spacer;
}
