@import './variables';
@import './mixins';

.main {
  padding-top: $header-height--mobile + $spacer;
  padding-bottom: $spacer;

  @include desktop {
    padding-top: $header-height + $spacer;
    padding-bottom: $spacer;
  }
}
