$font-helvetica: 'Helvetica Neue';

$color-default: #000000;
$color-default-inverted: #FFFFFF;
$color-primary: #F26549;
$color-secondary: #6c757d;
$color-light: #f8f9fa;

$color-bg-default: #FFFAEF;
$color-bg-card: #FFFFFF;
