<footer class="footer mt-5">
    <p>This website is a demo of <a href="https://github.com/qmachard/atomic-design-bundle">Atomic Design Bundle</a>.</p>
    <p>Created with <span aria-label="heart" role="img">♥️</span> by <a href="https://quentinmachard.fr/">Quentin Machard</a>.</p>
    <p>Photo by <a href="https://unsplash.com/@xianggao">Xiang Gao</a> on <a href="https://unsplash.com/photos/PGEQGbqY4yc">Unsplash</a></p>
</footer>
